/* dog main header image */
.mia{
    border-radius:60%;
    border: solid;
    height: 40%;
    width: auto;
    border:dotted;
    border-color:#00fa9a;
     margin-right: auto; 
     margin-left:auto;
     margin-top: 1em;
    display: block;}

    /* header banner*/
.main-banner {
    width: 40%;
    height: auto;
     margin-right: auto; 
     margin-left: auto;
     margin-top: 3em;
     text-align: center;
     display: block;
  }
  .navbar-collapse{
    background-color:linear-gradient(#A9F1DF, #FFBBBB);
 }
  .navbar-collapse{
      background-color:linear-gradient(#A9F1DF, #FFBBBB);
  }
  .navbar-brand{
    background-color: linear-gradient(#A9F1DF, #FFBBBB);
  }
  
.bg-light{
background: linear-gradient(#A9F1DF, #FFBBBB);
  } 
.navbar-nav, .navbar-brand{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 flex: space-between;
}


.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px violet;
    flex: wrap;
}

* {
    box-sizing: border-box;
  }
  .mySlides {
    display: none;
  }
  
  .container {
    position: relative;
  }

  .cursor {
    cursor: pointer;
  }

  .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
  }
  .active,
.demo:hover {
  opacity: 1;
}