/* dog main header image */
.mia{
    border-radius:60%;
    border: solid;
    height: 40%;
    width: auto;
    border:dotted;
    border-color:#00fa9a;
     margin-right: auto; 
     margin-left:auto; 
     margin-top: 1em;
    display: block; 
    left: 30px;
    transform: 20degs;
 }
     /* header banner*/
 .main-banner {
  width: 50%;
  height: auto;
   margin-right: auto; 
   margin-left: auto;
   display: block;
   padding-bottom: 8em;
   }
.description{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px darkmagenta;
      flex: wrap;
      padding-bottom: 20px;
      margin-right: auto; 
      margin-left: auto;
      text-align: center;
       position: relative; 
      background-color: pink;
      }

.navbar.navbar-expand-lg.navbar-light.bg-light{
      background-color:lavender!important;
      }
 
.navbar-collapse{
        background-color: lavender;
    }
    .navbar-nav.nav-link:hover{
      color: pink;
    }
    .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
      color:pink;
    }
    .active>.nav-link{
      color: darkviolet;
    }
    .navbar-brand{ 
    background-color: lavender;
      }
  .navbar-brand {
      background-color: lavender;
      }

    .navbar-toggler-icon{
      background-color: lavender!important;
    }
    .nav-link{
      color: darkviolet;
    }
    .nav.navbar.navbar-expand-lg.navbar-light.bg-light{
      background-color: lavender;
    }
    
* {
    box-sizing: border-box;
    
  }
 .mySlides { 
    display: none;
  }
  
  .container { 
    position: relative;
  }

  .cursor {
    cursor: pointer;
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-container {
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px darkmagenta;
    background-color: pink;
     padding: 2px 30px ; 
    color: white;
    border: white;
    margin-left: -33.33%;
  margin-right: -33.33%;
}
   
   .row {
    content: "";
    clear: both;
    align-self: center;
  }
  .column {
    margin: auto;
    width: 50%;
  }
  .demo {
    opacity: 0.6;
  }
.active,
.demo:hover {
  opacity: 1;
}
.about {
 background: linear-gradient( #A9F1DF, #FFBBBB);
 background-size: cover;
 background-size: contain;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-color; white;
}

.meet-mia{
background-color: lavender;
background-size: cover;
background-size: contain;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px darkmagenta;

}
.aboutmia{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px darkmagenta;
  flex: wrap;
  padding-bottom: 20px;
  margin-right: auto; 
  margin-left: auto;
  text-align: center;
   position: relative; 
  background-color: pink;
}