/* dog main header image*/
.mia{
    border-radius:60%;
    border: solid;
    height: 200px;
    width: auto;
    border:dotted;
    border-color:#00fa9a;
    text-align: center;
    margin: 0 49%;
}
/* header banner*/
.main-banner {
    width: 50%;
    height: auto;
    align-content: center;
    margin: 0 29%;
  }
/* navigation menu */
.nav-item{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    margin: 0 12em;
    justify-content: space-between;
    background-color: grey ;
    
}

.nav li a{
    /* padding:0,10; */
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey;
    padding: 8px 8px;
    display: inline-block;

  }

.nav li a:hover{
   background-color: #555;
    color: white;
}
.products{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: mediumseagreen;
    text-align: center;
    background-color: white;
    background: 50%;

}
.items{
 display: flex;  
 }
.home-decor, .birthday {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 50%;
    flex-wrap: wrap;
    border: solid;
    border-color: salmon;
    text-align: center;
    width: 29%;
   }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
