/* dog main header image*/
.mia{
    border-radius:60%;
    border: solid;
    height: 40%;
    width: auto%;
    border:dotted;
    border-color:#00fa9a;
     margin-right: 50%; 
     margin-left:50%;
     margin-top: 1em;
    
     
}
/* header banner*/
.main-banner {
    width: 40%;
    height: auto;
     margin-right: 50%; 
     margin-left:50%;
     margin-top: 3em;
     text-align: center;
  }
  .navbar-collapse{
    background-color: pink;

  }
  .navbar-collapse{
      background-color: pink;
  }
  .navbar-brand{
background-color: pink;
  }
  
.bg-light{
background-color: pink!important;
  }
}
.products{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: mediumseagreen;
    text-align: center;
    background-color: white;
    background: 50%;

}
.items{
 display: flex;  
 }
.home-decor, .birthday {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 50%;
    flex-wrap: wrap;
    border: solid;
    border-color: salmon;
    text-align: center;
    width: 29%;
   }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
